.home {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    text-transform: uppercase;
}

.home__link {
    display: block;
    margin: 2rem auto;
    text-decoration: none;
    color: var(--green);

    &:hover {
        text-decoration: underline;
        color: var(--orange);
    }
}